@font-face {
          font-family: "monostret";
          src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}
*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: "monostret",sans-serif;
          color: var(--light-text-color);
          /* border: .2rem solid black; */

}
:root{
          --dark-background-color:#26335D;
          --light-text-color:#FFFFFF;
          --primary-color:#8D5CF6;
          --faded-secondary-color-2:#FFF2F3;
          --text-color : #252B42;
}
html{
          font-size: 62.5%;
}
body{
          background-color: var(--dark-background-color);
}

/* Basic style */
h3{
          font-weight: 700;
          font-size: 2rem;
          
}
h5{
          color: var(--primary-color);
          font-size: 1.5rem;
}
ul{
          list-style-type: none;
          display: flex;
          gap: 2rem; 
}
li{
          font-size: 1.45rem;
          font-weight: 700;
}
a{

          text-decoration: none;
          font-size: 1.45rem;
          font-weight: 700;
}
button{
          
          font-size: 1.45rem;
          font-weight: 700;
}

/* Navbar section start */

.navbar{
          width: 100%;
          height: 5.69rem;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 1.2rem;
}

.navbar-item{
          width: 100%;
          height: 2rem;
}
.navbar-list{
          width: 45%;
          height: 3.63rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
}

.navbar-list-buttons{
display: flex;
align-items: center;
gap: 2rem;
}

.join_button{
          background-color: var(--primary-color);
          padding: 1.3rem 1.8rem;
          border-radius: .7rem;
          border: none;
}
.span_image{
          margin-left: .7rem;
}

/* navbar end */


/* Hero section start */

.hero-section{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          place-items: center;
          margin: 2.5rem;
          gap: 5rem;
}
.hero-content{
 display: flex;
 flex-direction: column;
 gap: 2.5rem;
}
.hero-content p:nth-of-type(1){
          font-size: 4.5rem;
          font-weight: 700;
}
.hero-content p:nth-of-type(2){
          font-size: 1.4rem;
          font-weight:500;
          word-spacing: .4rem;
}

.hero_female_img{
          width: 45rem;
          margin-left: 20rem;

}
.hero-buttons{
          display: flex;
          gap: 1.2rem;
}
.join_buttons{
          background-color: var(--primary-color);
          padding: 1.3rem 2.5rem;
          border-radius: .7rem;
          border: none;    
}
.learn_more_button{
          border: 1px solid var(--primary-color);
           padding: 1.3rem 2.5rem;
            border-radius: .7rem;
          outline: none;  
}
/* Hero section end */

/* Department section start */

.department-section{
        display: grid;
grid-template-rows: auto auto;
place-items: center;

gap: 6rem;
margin-top: 8rem;
margin-bottom: 8rem;

}
.department-content{
 text-align: center;
  display: flex;
 flex-direction: column;
 gap: 1.5rem;
}

.department-content p:nth-of-type(1){
          font-size: 3rem;
          font-weight: 700;
}
.department-content p:nth-of-type(2){
          font-size: 1.4rem;
          font-weight:500;
          word-spacing: .4rem;
}
.department-image{
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);

}


/* Department section ends */

/* activity section start */

.activity-section{
        display: grid;
grid-template-rows: auto auto;
place-items: center;

gap: 6rem;
margin-top: 8rem;
margin-bottom: 8rem;

}
.activity-content{
 text-align: center;
  display: flex;
 flex-direction: column;
 gap: 1.5rem;
}

.activity-content p:nth-of-type(1){
          font-size: 3rem;
          font-weight: 700;
}
.activity-content p:nth-of-type(2){
          font-size: 1.4rem;
          font-weight:500;
          word-spacing: .4rem;
}
.activity-cards{
          box-shadow: 0px 13px 19px 0px #00000012;
          background-color: var(--light-text-color);
          display: grid;
          grid-template-columns: repeat(2,repeat);
         

}
.activity_logo{
           background-color: var(--faded-secondary-color-2);
          width:7rem;
          height: 7rem;
          border-radius: 50%;
          text-align: center;
          position: relative;
}
.activity_heart_logo{
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%,-50%);
          width: 3.5rem;
}

.heart-card-details{
          display: grid;
          place-items: center;
}


/* activity section end */
