@font-face {
          font-family: "monostret";
          src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}
*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: "monostret",sans-serif;
          color: var(--light-text-color);
          /* border: .2rem solid black; */

}
:root{
          --dark-background-color:#26335D;
          --light-text-color:#FFFFFF;
          --primary-color:#8D5CF6;
          --faded-secondary-color-2:#FFF2F3;
          --text-color : #252B42;
}
html{
          font-size: 62.5%;
}
body{
          background-color: var(--dark-background-color);
}
.navbar{
        margin: 2rem 2rem;
        display: flex;
       gap: 5rem;
}
a{
        text-decoration: none;
        font-size: 2rem;
        border: .2rem solid var(--light-text-color);
        padding: 2rem;
}
